/*

===================================================

----------------  Setup ---------------------------

===================================================

*/

html, body{

	font-family: 'Merriweather', serif;

}



/*

===================================================

----------------  Banner ---------------------------

===================================================

*/

.banner{
	height: 100%;
}
.red{
	background: #e74c3c;
}
.orange{
	background: #d35400;
}
.banner-text{
	position: absolute;
	text-align: center;
	color: #f39c12;
	width: 100%;
	top: 50%;
}


/*

===================================================

----------------  Resets ---------------------------

===================================================

*/

body, h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
html, body{
	height: 100%;
}