/*

Panier Labs CSS



Table of Contents:

1. Header
2. Banner
3. Footer

*/





/*

===================================================

----------------  Banner ---------------------------

===================================================

*/

.banner{
	background-color: #3498db;
	height: 100%;
}

.banner-text{
	position: absolute;
	text-align: center;
	color: #f39c12;
	width: 100%;
	top: 50%;

}


/*

===================================================

----------------  Resets ---------------------------

===================================================

*/

body, h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
html, body{
	height: 100%;
}